{{#if logs}}
<ul>
  {{#each logs}}
  <li>
    {{this.timestamp}} {{this.success}} {{#if this.message}} {{this.message}}
    {{/if}}
  </li>
  {{/each}}
</ul>
{{else}}
<p><em>There are currently no log.</em></p>
{{/if}}
